<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Cuenta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form  [formGroup]="recoverForm" (ngSubmit)= "resetPassword($event)" >
    <h4> Recuperar cuenta por email</h4>
    <ion-item>
      <ion-input formControlName="email" type="email" aria-placeholder="email" required>
    </ion-input>
    </ion-item>
    <ion-chip color="danger" *ngIf="emailField.errors && emailField.dirty"> 
      <ion-label *ngIf="emailField.hasError('email')"> el email es invalido </ion-label>
      <ion-label *ngIf="emailField.hasError('required')"> el email es requerido </ion-label> 
    </ion-chip>
    <ion-button type="submit" expand="block"> Recuperar cuenta</ion-button>
   <p>No estas registrado? <a routerLink="../register/"> registrate </a>  </p> 
   <p> Ya tienes cuenta? <a routerLink="../login/"> ingresa </a>  </p>
  </form>
</ion-content>
