.agregar_invitado_formulario{
   ion-card-header{
     text-align: center;
   } 
   button{
         margin-top: 15px;  
   }
}

.rentable{

    color: #246840;
}
.no-rentable{
    color: #e92c1bd8;
}