<ion-header>
  <ion-toolbar>
    <ion-title>registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  [formGroup]="registerForm" (ngSubmit)= "signupUser($event)" >
    <h4> Registrar usuario por email</h4>
    <ion-item>
      <ion-input formControlName="email" type="email" aria-placeholder="email" required>
    </ion-input>
    </ion-item>
    <ion-chip color="danger" *ngIf="emailField.errors && emailField.dirty"> 
      <ion-label *ngIf="emailField.hasError('email')"> el email es invalido </ion-label>
      <ion-label *ngIf="emailField.hasError('required')"> el email es requerido </ion-label> 
    </ion-chip>
    <ion-item>
      <ion-input formControlName="password" type="password" aria-placeholder="contraseña" minlength="6">
    </ion-input>
    </ion-item>
    <ion-chip color="danger" *ngIf="passField.errors && passField.dirty"> 
      <ion-label *ngIf="passField.hasError('minlength')"> La contraseña debe tener un minimo de 6 caracteres </ion-label>
      <ion-label *ngIf="passField.hasError('required')"> la contraseña es requerida </ion-label> 
    </ion-chip>
    <ion-button type="submit" expand="block"> Registrarse</ion-button>
    <p>Ya tienes cuenta? <a routerLink="../login/"> ingresa </a>  </p>
    <p>has olvidado tu contraseña <a routerLink="../recover/"> recupera tu cuenta  </a> </p>
    </form>
</ion-content>
